<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- <% include ../partials/nav.ejs %> -->

<h1>hi</h1>

<h2>bujar</h2>

<ul>
  <li>1    
  </li>
  <li>asdf</li>
</ul>

</body>
</html>
